# Covers IntelliJ, Gradle, and Scala

# Do not add user-specific sensitive/high-churn Intellij files
.idea/

# Do not add user-specific Gradle data and configuration
.gradle/

# Track Gradle wrapper scripts and config
!gradlew
!gradlew.bat
!gradle/wrapper/**

# Do not add local builds to git
build/
/data/
/recovery/

# Do not add complied jvm code to git
*.class